@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%
}
body {
    width: 100%;
}
header {
    background-color: rgb(24, 24, 23);
    width: 100%;
}
.logo {
    justify-content:space-around ;
    margin: 10px;
    font-size: 20px;
    color: white;
}
span {
    color: rgb(253, 118, 28);
}
nav {
    width: 100%;
    height:50px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    
}
.links ul {
 display: flex;
}

.links ul li {
    list-style: none;
    justify-content:space-around ;
    margin: 10px;
    font-size: 20px;
}
.links ul li a {
    color: white;
    text-decoration: none;
}
.links ul li a:hover{
    color: rgb(253, 118, 28);
}

 /* Navigation END */

.welcome {
    background-image: url(https://images.unsplash.com/photo-1422568374078-27d3842ba676?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    width: 100%;
    height: 80vh;
    position: relative;
    background-size: cover;   
}

.welcome-text {
    position: absolute;
    width: 650px;
    height: 300px;
    margin-left: 5%;
    margin-top: 7%;
    color: black;
    
}

.welcome-text h1 {
    font-size: 36px;
    text-align: center;
}
.welcome-text h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}
.welcome-text h3 {
    font-size:26px;
    text-align: center;
    margin-top: 15px;
}



/* welcome-end */


.about {
    background-color: rgb(24, 24, 23);
    width:100%;
    height: 80vh;
       
}
.about-text{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-family: 'Goblin One', cursive;
    padding-top: 10px;
    margin-bottom: 10px;
    }
.under-line {
    width:100%;
    border-bottom: white solid 2px;
    border-top: white solid 2px;
    text-align: center;
    margin: auto;
    border-bottom-left-radius:100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius:100%;
    border-top-right-radius: 100%;
    
}

.about-container {
    display: flex;
    margin-top: 50px;
}

.about-container-img {
    width: 800px;
    margin-left: 200px;
    margin-right: 50px;  
}
.about-container-img img {
    max-width: 100%;
    height: auto;
}

.about-container-text {
    width: 500px;
    height: 300px;
    margin-right: 200px;
}

.about-container-text p {
    font-size: 20px;
    
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 18px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.883);
    letter-spacing: 0.2em;
}

.teksts1 {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.883)
}

.teksts2 {
    margin-top: 100px;
    color: rgba(255, 255, 255, 0.883)
}

/* about-end */

.services {
    background-color: rgba(24, 24, 23, 0.904);
    width:100%;
    height: 80vh;
    }
.services-container {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}
.block1 , .block2 , .block3{
    width: 300px;
    height: 300px;
    background-color:rgb(24, 24, 23);
    border: 3px solid;
    border-radius: 10px;
}
.block1 p , .block2 p, .block3 p{
    font-size: 20px;
    text-align: left;
    margin: 25px;
    color: rgb(253, 118, 28);
}
.block1 h5, .block2 h5, .block3 h5 {
   font-size: 15px;
}

/* services-end */

.skills {
    background-color: rgb(24, 24, 23);
    width:100%;
    height: 55vh;
}

.skill-item {
    width: 500px;
    height: 30px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    width: 500px;
    height: 10px;
    background-color: black; 
    border-radius: 4px;
}
.progress {
    color: white;
}

.skill-wrap {
    display:flex;
    justify-content: space-between;
}
.progress-html {
    width: 450px;
    height: 10px;
    background-color: rgb(253, 118, 28);
    border-radius: 4px;
}
.progress-css {
    width: 425px;
    height: 10px;
    background-color:  rgb(253, 118, 28);
    border-radius: 4px;
}
.progress-javascript {
    width: 350px;
    height: 10px;
    background-color:  rgb(253, 118, 28);
    border-radius: 4px;
}
.progress-react {
    width: 50px;
    height: 10px;
    background-color:  rgb(253, 118, 28);
    border-radius: 4px;
}

/* skills-end */

footer {
    background-color: rgb(24, 24, 23);
    width:100%;
    height: 10vh;
    border-top: 1px solid white;  
    text-align: center;
}

footer img {
    height: 3vh;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;    
}

.footer-text {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

/* footer-end */

@media only screen and (max-width: 1024px){
    .welcome {
        height: 70vh;
    }
    .about-container-img {
        width: 800px;
        margin-left: 20px;
        margin-right: 50px;  
    }
    
    .about-container-text {
        width: 300px;       
    }
    
    .about-container-text p {
        font-size: 18px;
    }
    
    h4 {
        font-size: 30px;
    }
    
    h5 {
        font-size: 14px;
    }
    .teksts2 {
        margin-top: 35px;
    }
    .teksts1 {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 768px) {

 /* services */

.services {
        height: 60vh;
        }
.block1 , .block2 , .block3{
        width: 200px;
        height: 300px;
    }
.block1 p , .block2 p, .block3 p{
        font-size: 16px;
            }
 .block1 h5, .block2 h5, .block3 h5 {
       font-size: 15px;
    }

 /* about */
.about {
    height: 60vh;
}
.about-container {
    margin-top: 30px;
}

.about-container-img {
    width: 400px;
    margin-left: 20px;
    margin-right: 50px;  
}

.about-container-text {
    width: 200px;
    height: 300px;
    margin-right: 50px;
}

.about-container-text p {
    font-size: 16px;
    
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 10px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.883);
    letter-spacing: 0.2em;
}

.teksts1 {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.883)
}

.teksts2 {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.883)
}
.about-text {
    font-size: 25px;
}
  }


  @media only screen and (max-width: 768px) {

.about-container-text p {
    font-size: 14px;
    }   
  }


  @media only screen and (max-width: 425px) {
.welcome {
    height: 30vh;
}

.welcome-text {
    width: 150px;
    height: 200px;
}
.welcome-text h1 {
    font-size: 16px;
}
.welcome-text h2 {
    font-size: 14px;
    margin-top: 15px;
}
.welcome-text h3 {
    font-size:12px;
    margin-top: 15px;
}

/* services */
.services {
    height: 50vh;
}
.services-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    height: 350px;
}
.block1 , .block2 , .block3{
    width: 100%;
    height: 100px;
    background-color:rgb(24, 24, 23);
    border: 3px solid;
    border-radius: 10px;
    margin-top: 5px;
}
.block1 p , .block2 p, .block3 p{
    font-size: 10px;
    text-align: left;
    margin: 25px;
    color: rgb(253, 118, 28);
}
.block1 h5, .block2 h5, .block3 h5 {
   font-size: 15px;
}

/* skills */

.skill-item {
    width: 90%;
    height: 30px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    width: 80%;
    height: 10px;
    background-color: black; 
    border-radius: 4px;
}
.progress {
    color: white;
}

.skill-wrap {
    display:flex;
    justify-content: space-between;
}
.progress-html {
    width: 90%;
    height: 10px;
    background-color: rgb(253, 118, 28);
    border-radius: 4px;
}
.progress-css {
    width: 85%;
    height: 10px;
    background-color:  rgb(253, 118, 28);
    border-radius: 4px;
}
.progress-javascript {
    width: 70%;
    height: 10px;
    background-color:  rgb(253, 118, 28);
    border-radius: 4px;
}
.progress-react {
    width: 10%;
    height: 10px;
    background-color:  rgb(253, 118, 28);
    border-radius: 4px;
}

/* about */

.about {
    height: 50vh;
}
.about-container {
    margin-top: 30px;
}

.about-container-img {
    width: 200px;
    margin-left: 10px;
    margin-right: 20px;  
}

.about-container-text {
    width: 200px;
    margin-right: 20px;
}

.about-container-text p {
    font-size: 12px;
    
}

.teksts1 {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.883)
}

.teksts2 {
    margin-top: 10px;
}
.about-text {
    font-size: 20px;
}

/* NAV */
.links ul li {
    font-size: 13px;
}
.logo {
    display: none;
}

/* services */

  }
